@model IEnumerable<CaxSecurity.Models.MapaCalor>

@{
    ViewData["Title"] = "Bienvenidos";
}

<div class="container">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        @{
                            int sum = item.d1 + item.d2 + item.d3;
                        }
                        @if (sum == 0)
                        {
                            <img src="/Imagenes/img_seguro.jpg" class="card-img-top" alt="imagen estado">
                        }else if (sum > 0 && sum < 5)
                        {
                            <img src="/Imagenes/img_advertencia.jpg" class="card-img-top" alt="imagen estado">
                        }else{
                            <img src="/Imagenes/img_peligro.jpg" class="card-img-top" alt="imagen estado">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@item.nombre</h5>
                            <p class="card-text">@item.estado</p>
                        </div>
                    </div>
                </div>
        }
        </div> 
    </div>
</div>