@model CaxSecurity.Models.UserModel

@{
    ViewBag.Title = "Login - CaxSecurity";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/Imagenes/LogoCaxSecurityFinal2.png">
    <title>Login - CaxSecurity</title>
    <link rel="stylesheet" href="/css/StyleLogin.css">
</head>
<body>
    <div class="container">
        <div class="img-box">
            <img src="/Imagenes/LogoCaxSecurityFinal2.png" alt="Logo APP" />
        </div>
        <div class="content-box">
            <div class="content">
                <h2>Iniciar Sesión</h2>
                <h3 style="text-align:center;">@Html.ValidationMessage("AuthError")</h3>                
                <form asp-action="Login">
                    <div class="input-box">
                        <label for="Email" asp-for="Email">Ingrese correo</label>
                        <input asp-for="Email" type="email" name="Email" placeholder="Ingresa tu correo" id="Email" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Password" for="Password">Ingrese contraseña</label>
                        <input asp-for="Password" type="password" name="Password" placeholder="Ingresa tu contraseña" id="Password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Iniciar Sesión"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}